@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Hedvig+Letters+Serif:opsz@12..24&family=Open+Sans:ital@1&family=Poppins:wght@500&display=swap');

html {
  height: 100%;
  width: 100%;
}

.top-text{
  font-family: 'Caveat', cursive;
  font-family: 'Hedvig Letters Serif', serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}
